* {  
    padding: 0;  
    margin: 0;  
    box-sizing: border-box;  
    font-family: Arial, Helvetica, sans-serif;  
} 
.container{
    display: flex;
    gap: 10px;
    padding: 20px;
    flex-wrap: nowrap;
}
.half-left,.half-right{
   
    flex:0.5;
    aspect-ratio: 2/1;
    border-radius: 10px;
    padding: 5px;
    width: 50%;
}
.smallcontainer{
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}
.small-left,.small-right{
  flex: 0.5;
  aspect-ratio: 1/2;
  border-radius: 10px;
  background-color: #ebeef3;
  height: 400px;
  width: 350px;
  position: relative;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.title{
   position: absolute;
   width: 100%;
   background-color: #e5c89e;
   color: white;
   bottom: 0;
   left: 0;
   padding: 20px;
   font-size: larger;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
}
.cols{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.rows{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rows img{
    width: 100px;
    height: 100px;
}  
button{
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.5;
    max-width: fit-content;
} 

table td img {
    height: 1em;
    width: auto; 
    vertical-align: middle;
}
table{
    width: 90%;
    height: 85%;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
    background-color: #ebeef3;
    padding-left: 20px;
}
.half-right h2{
    margin-left: 20px;
}